In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

C:\Users\mnjks\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv("covid_19_actual.csv")

C:\Users\mnjks\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3,7,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['Admin2', 'Location Detail', 'If Province Empty Country',
       'Select Metric', 'Country Label', 'LOG(SUM([Cases]))',
       'Select Metric Swapper', 'Province_State Label (not US)',
       'Province_State Label (US)', 'Admin2 Label (US)', 'US Unassigned?',
       'US Out of Area?', 'Cruise Ship?', 'Metric Switcher', 'Case Type 2',
       'Case Type Notes', 'Case Type', 'Cases', 'Combined_Key',
       'Province Label', 'Country Region', 'Date', 'Difference', 'FIPS',
       'If Province Empty then ""', 'LOG(Metric Switcher)', 'Lat', 'Long',
       'Number of Records', 'Prep Flow Runtime', 'Province State',
       'Select Metric Header Short', 'Table_Names'],
      dtype='object')

In [4]:
df.head()

,Admin2,Location Detail,If Province Empty Country,Select Metric,Country Label,LOG(SUM([Cases])),Select Metric Swapper,Province_State Label (not US),Province_State Label (US),Admin2 Label (US),...,FIPS,"If Province Empty then """"",LOG(Metric Switcher),Lat,Long,Number of Records,Prep Flow Runtime,Province State,Select Metric Header Short,Table_Names
0,Autauga,Autauga,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Autauga,...,1001.0,Alabama,NaN,32.539527,-86.644082,1,4/5/2020 8:56:04 PM,Alabama,Total Cases,Time Series
1,Baldwin,Baldwin,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Baldwin,...,1003.0,Alabama,NaN,30.727750,-87.722071,1,4/5/2020 8:56:04 PM,Alabama,Total Cases,Time Series
2,Barbour,Barbour,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Barbour,...,1005.0,Alabama,NaN,31.868263,-85.387129,1,4/5/2020 8:56:04 PM,Alabama,Total Cases,Time Series
3,Bibb,Bibb,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Bibb,...,1007.0,Alabama,NaN,32.996421,-87.125115,1,4/5/2020 8:56:04 PM,Alabama,Total Cases,Time Series
4,Blount,Blount,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Blount,...,1009.0,Alabama,NaN,33.982109,-86.567906,1,4/5/2020 8:56:04 PM,Alabama,Total Cases,Time Series

In [5]:
cols = ['Location Detail','Admin2 Label (US)','Cruise Ship?', 'Case Type', 'Cases', 'Country Region', 'Date', 'Difference','Lat', 'Long','Province State']
removeCol_list = []
for each in df.columns:
    if each not in cols:
        removeCol_list.append(each)

removeCol_list

['Admin2',
 'If Province Empty Country',
 'Select Metric',
 'Country Label',
 'LOG(SUM([Cases]))',
 'Select Metric Swapper',
 'Province_State Label (not US)',
 'Province_State Label (US)',
 'US Unassigned?',
 'US Out of Area?',
 'Metric Switcher',
 'Case Type 2',
 'Case Type Notes',
 'Combined_Key',
 'Province Label',
 'FIPS',
 'If Province Empty then ""',
 'LOG(Metric Switcher)',
 'Number of Records',
 'Prep Flow Runtime',
 'Select Metric Header Short',
 'Table_Names']

In [6]:
df1 = df.drop(removeCol_list, axis=1)

In [7]:
df1

,Location Detail,Admin2 Label (US),Cruise Ship?,Case Type,Cases,Country Region,Date,Difference,Lat,Long,Province State
0,Autauga,| County: Autauga,False,Confirmed,0,US,1/22/2020,NaN,32.539527,-86.644082,Alabama
1,Baldwin,| County: Baldwin,False,Confirmed,0,US,1/22/2020,NaN,30.727750,-87.722071,Alabama
2,Barbour,| County: Barbour,False,Confirmed,0,US,1/22/2020,NaN,31.868263,-85.387129,Alabama
3,Bibb,| County: Bibb,False,Confirmed,0,US,1/22/2020,NaN,32.996421,-87.125115,Alabama
4,Blount,| County: Blount,False,Confirmed,0,US,1/22/2020,NaN,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
526195,Clayton,| County: Clayton,False,Deaths,3,US,3/31/2020,2.0,33.541872,-84.355942,Georgia
526196,Baltimore,| County: Baltimore,False,Deaths,3,US,4/2/2020,2.0,39.457847,-76.629120,Maryland
526197,Eagle,| County: Eagle,False,Deaths,4,US,3/31/2020,2.0,39.627543,-106.693364,Colorado
526198,Unassigned,| County: Unassigned,False,Deaths,11,US,4/3/2020,3.0,0.000000,0.000000,Minnesota
526199,Palm Beach,| County: Palm Beach,False,Deaths,35,US,4/4/2020,6.0,26.646763,-80.465360,Florida

In [8]:
df1 = df1[df1['Country Region']=='US']
df1

,Location Detail,Admin2 Label (US),Cruise Ship?,Case Type,Cases,Country Region,Date,Difference,Lat,Long,Province State
0,Autauga,| County: Autauga,False,Confirmed,0,US,1/22/2020,NaN,32.539527,-86.644082,Alabama
1,Baldwin,| County: Baldwin,False,Confirmed,0,US,1/22/2020,NaN,30.727750,-87.722071,Alabama
2,Barbour,| County: Barbour,False,Confirmed,0,US,1/22/2020,NaN,31.868263,-85.387129,Alabama
3,Bibb,| County: Bibb,False,Confirmed,0,US,1/22/2020,NaN,32.996421,-87.125115,Alabama
4,Blount,| County: Blount,False,Confirmed,0,US,1/22/2020,NaN,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
526195,Clayton,| County: Clayton,False,Deaths,3,US,3/31/2020,2.0,33.541872,-84.355942,Georgia
526196,Baltimore,| County: Baltimore,False,Deaths,3,US,4/2/2020,2.0,39.457847,-76.629120,Maryland
526197,Eagle,| County: Eagle,False,Deaths,4,US,3/31/2020,2.0,39.627543,-106.693364,Colorado
526198,Unassigned,| County: Unassigned,False,Deaths,11,US,4/3/2020,3.0,0.000000,0.000000,Minnesota
526199,Palm Beach,| County: Palm Beach,False,Deaths,35,US,4/4/2020,6.0,26.646763,-80.465360,Florida

In [9]:
df1 = df1.rename(columns={'Location Detail':'location','Admin2 Label (US)':'county','Cruise Ship?':'ship', 'Case Type':'case_type','Cases': 'cases','Country Region':'country', 'Date':'date', 'Difference':'difference','Lat':'latitude','Long':'longitude','Province State':'state'})
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
0,Autauga,| County: Autauga,False,Confirmed,0,US,1/22/2020,NaN,32.539527,-86.644082,Alabama
1,Baldwin,| County: Baldwin,False,Confirmed,0,US,1/22/2020,NaN,30.727750,-87.722071,Alabama
2,Barbour,| County: Barbour,False,Confirmed,0,US,1/22/2020,NaN,31.868263,-85.387129,Alabama
3,Bibb,| County: Bibb,False,Confirmed,0,US,1/22/2020,NaN,32.996421,-87.125115,Alabama
4,Blount,| County: Blount,False,Confirmed,0,US,1/22/2020,NaN,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
526195,Clayton,| County: Clayton,False,Deaths,3,US,3/31/2020,2.0,33.541872,-84.355942,Georgia
526196,Baltimore,| County: Baltimore,False,Deaths,3,US,4/2/2020,2.0,39.457847,-76.629120,Maryland
526197,Eagle,| County: Eagle,False,Deaths,4,US,3/31/2020,2.0,39.627543,-106.693364,Colorado
526198,Unassigned,| County: Unassigned,False,Deaths,11,US,4/3/2020,3.0,0.000000,0.000000,Minnesota
526199,Palm Beach,| County: Palm Beach,False,Deaths,35,US,4/4/2020,6.0,26.646763,-80.465360,Florida

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487650 entries, 0 to 526199
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   location    486900 non-null  object
 1   county      486900 non-null  object
 2   ship        487650 non-null  bool
 3   case_type   487650 non-null  object
 4   cases       487650 non-null  int64
 5   country     487650 non-null  object
 6   date        487650 non-null  object
 7   difference  481148 non-null  float64
 8   latitude    487650 non-null  float64
 9   longitude   487650 non-null  float64
 10  state       487650 non-null  object
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 41.4+ MB

In [11]:
df1['county'] = df1['county'].map(lambda x: str(x).lstrip('| County: '))

In [12]:
df1.to_csv('kbs_covid_eda.csv',header=True, index=False)

In [13]:
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
0,Autauga,Autauga,False,Confirmed,0,US,1/22/2020,NaN,32.539527,-86.644082,Alabama
1,Baldwin,Baldwin,False,Confirmed,0,US,1/22/2020,NaN,30.727750,-87.722071,Alabama
2,Barbour,Barbour,False,Confirmed,0,US,1/22/2020,NaN,31.868263,-85.387129,Alabama
3,Bibb,Bibb,False,Confirmed,0,US,1/22/2020,NaN,32.996421,-87.125115,Alabama
4,Blount,Blount,False,Confirmed,0,US,1/22/2020,NaN,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
526195,Clayton,layton,False,Deaths,3,US,3/31/2020,2.0,33.541872,-84.355942,Georgia
526196,Baltimore,Baltimore,False,Deaths,3,US,4/2/2020,2.0,39.457847,-76.629120,Maryland
526197,Eagle,Eagle,False,Deaths,4,US,3/31/2020,2.0,39.627543,-106.693364,Colorado
526198,Unassigned,Unassigned,False,Deaths,11,US,4/3/2020,3.0,0.000000,0.000000,Minnesota
526199,Palm Beach,Palm Beach,False,Deaths,35,US,4/4/2020,6.0,26.646763,-80.465360,Florida

In [14]:
# Categorical boolean mask
categorical_feature_mask = df1.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = df1.columns[categorical_feature_mask].tolist()
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [15]:
print(categorical_feature_mask.to_list())
df1.columns

[True, True, False, True, False, True, True, False, False, False, True]

Index(['location', 'county', 'ship', 'case_type', 'cases', 'country', 'date',
       'difference', 'latitude', 'longitude', 'state'],
      dtype='object')

In [16]:
cols = ['location', 'county','ship','case_type','country','state']
df1[cols]=df1[cols].apply(lambda x: pd.factorize(x)[0])

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487650 entries, 0 to 526199
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   location    487650 non-null  int64
 1   county      487650 non-null  int64
 2   ship        487650 non-null  int64
 3   case_type   487650 non-null  int64
 4   cases       487650 non-null  int64
 5   country     487650 non-null  int64
 6   date        487650 non-null  object
 7   difference  481148 non-null  float64
 8   latitude    487650 non-null  float64
 9   longitude   487650 non-null  float64
 10  state       487650 non-null  int64
dtypes: float64(3), int64(7), object(1)
memory usage: 44.6+ MB

In [18]:
df1['difference'].fillna(0, inplace=True)

In [19]:
df1.date = pd.to_datetime(df1.date)
df1.head()

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
0,0,0,0,0,0,0,2020-01-22,0.0,32.539527,-86.644082,0
1,1,1,0,0,0,0,2020-01-22,0.0,30.727750,-87.722071,0
2,2,2,0,0,0,0,2020-01-22,0.0,31.868263,-85.387129,0
3,3,3,0,0,0,0,2020-01-22,0.0,32.996421,-87.125115,0
4,4,4,0,0,0,0,2020-01-22,0.0,33.982109,-86.567906,0

In [20]:
df1.dtypes

location               int64
county                 int64
ship                   int64
case_type              int64
cases                  int64
country                int64
date          datetime64[ns]
difference           float64
latitude             float64
longitude            float64
state                  int64
dtype: object

In [21]:
df1.isnull().sum()

location      0
county        0
ship          0
case_type     0
cases         0
country       0
date          0
difference    0
latitude      0
longitude     0
state         0
dtype: int64

In [22]:
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
0,0,0,0,0,0,0,2020-01-22,0.0,32.539527,-86.644082,0
1,1,1,0,0,0,0,2020-01-22,0.0,30.727750,-87.722071,0
2,2,2,0,0,0,0,2020-01-22,0.0,31.868263,-85.387129,0
3,3,3,0,0,0,0,2020-01-22,0.0,32.996421,-87.125115,0
4,4,4,0,0,0,0,2020-01-22,0.0,33.982109,-86.567906,0
...,...,...,...,...,...,...,...,...,...,...,...
526195,629,630,0,1,3,0,2020-03-31,2.0,33.541872,-84.355942,11
526196,1118,1119,0,1,3,0,2020-04-02,2.0,39.457847,-76.629120,21
526197,552,553,0,1,4,0,2020-03-31,2.0,39.627543,-106.693364,6
526198,64,64,0,1,11,0,2020-04-03,3.0,0.000000,0.000000,24
526199,603,604,0,1,35,0,2020-04-04,6.0,26.646763,-80.465360,10

In [23]:
# import plotly.graph_objects as go
# fig = go.Figure()
# fig.add_trace(go.Scatter(x=list(df1.date), y=list(df1.difference)))
# fig.show()

In [24]:
df1.to_csv('kbs_covid.csv',header=True, index=False)

In [56]:
temp_test = df1[['date','cases','location'].copy()]

In [57]:
temp_test = temp_test.groupby('date',as_index=False).cases.sum()

In [58]:
temp_test

         date   cases
0  2020-01-22       1
1  2020-01-23       1
2  2020-01-24       2
3  2020-01-25       2
4  2020-01-26       5
..        ...     ...
70 2020-04-01  217964
71 2020-04-02  249224
72 2020-04-03  282514
73 2020-04-04  317097
74 2020-04-05  346529

[75 rows x 2 columns]