In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [142]:
df = pd.read_csv("COVID-19 Cases Extract.csv")

In [143]:
df.dropna(subset=['Lat'],inplace=True)

In [144]:
df = df[df['Country Region']=='US']

In [145]:
df = df[df['Province State'].isin(["Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Indiana","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Missouri","Mississippi","Montana","North Carolina","North Dakota","Nebraska","New Hampshire","New Jersey","New Mexico","Nevada","New York","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Virginia","Vermont","Washington","Wisconsin","West Virginia","Wyoming"])]

In [146]:
df

,Admin2,Location Detail,If Province Empty Country,Select Metric,Country Label,LOG(SUM([Cases])),Select Metric Swapper,Province_State Label (not US),Province_State Label (US),Admin2 Label (US),...,Long,Number of Records,People_Hospitalized_Cumulative_Count,People_Total_Tested_Count,Population_Count,Prep Flow Runtime,Province State,Select Metric Header Short,iso2,iso3
272,Autauga,Autauga,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Autauga,...,-86.644082,1.0,NaN,NaN,55869.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
273,Baldwin,Baldwin,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Baldwin,...,-87.722071,1.0,NaN,NaN,223234.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
274,Barbour,Barbour,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Barbour,...,-85.387129,1.0,NaN,NaN,24686.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
275,Bibb,Bibb,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Bibb,...,-87.125115,1.0,NaN,NaN,22394.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
276,Blount,Blount,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Blount,...,-86.567906,1.0,NaN,NaN,57826.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661543,Washakie,Washakie,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Washakie,...,-107.680187,1.0,NaN,NaN,7805.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661545,Niobrara,Niobrara,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Niobrara,...,-104.475890,1.0,NaN,NaN,2356.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661547,Park,Park,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Park,...,-109.585282,1.0,NaN,NaN,29194.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661548,Sweetwater,Sweetwater,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Sweetwater,...,-108.882788,1.0,NaN,NaN,42343.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661549,Teton,Teton,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Teton,...,-110.589080,1.0,NaN,NaN,23464.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA

In [147]:
df.columns

Index(['Admin2', 'Location Detail', 'If Province Empty Country',
       'Select Metric', 'Country Label', 'LOG(SUM([Cases]))',
       'Select Metric Swapper', 'Province_State Label (not US)',
       'Province_State Label (US)', 'Admin2 Label (US)', 'US Unassigned?',
       'US Out of Area?', 'Cruise Ship?', 'Metric Switcher', 'Case Type 2',
       'Case Type Notes', 'Case Type', 'Cases', 'Combined_Key',
       'Province Label', 'Country Region', 'Data_Source', 'Date', 'Difference',
       'FIPS', 'If Province Empty then ""', 'LOG(Metric Switcher)', 'Lat',
       'Long', 'Number of Records', 'People_Hospitalized_Cumulative_Count',
       'People_Total_Tested_Count', 'Population_Count', 'Prep Flow Runtime',
       'Province State', 'Select Metric Header Short', 'iso2', 'iso3'],
      dtype='object')

In [148]:
columns = ['Location Detail','Admin2 Label (US)','Cruise Ship?', 'Case Type', 'Cases', 'Country Region', 'Date', 'Difference','Lat', 'Long','Province State']
removeCol_list = []
for i in df.columns:
    if i not in columns:
        removeCol_list.append(i)

removeCol_list

['Admin2',
 'If Province Empty Country',
 'Select Metric',
 'Country Label',
 'LOG(SUM([Cases]))',
 'Select Metric Swapper',
 'Province_State Label (not US)',
 'Province_State Label (US)',
 'US Unassigned?',
 'US Out of Area?',
 'Metric Switcher',
 'Case Type 2',
 'Case Type Notes',
 'Combined_Key',
 'Province Label',
 'Data_Source',
 'FIPS',
 'If Province Empty then ""',
 'LOG(Metric Switcher)',
 'Number of Records',
 'People_Hospitalized_Cumulative_Count',
 'People_Total_Tested_Count',
 'Population_Count',
 'Prep Flow Runtime',
 'Select Metric Header Short',
 'iso2',
 'iso3']

In [149]:
df1 = df.drop(removeCol_list, axis=1)

In [150]:
df1.head()

,Location Detail,Admin2 Label (US),Cruise Ship?,Case Type,Cases,Country Region,Date,Difference,Lat,Long,Province State
272,Autauga,| County: Autauga,False,Confirmed,0.0,US,1/22/2020,0.0,32.539527,-86.644082,Alabama
273,Baldwin,| County: Baldwin,False,Confirmed,0.0,US,1/22/2020,0.0,30.727750,-87.722071,Alabama
274,Barbour,| County: Barbour,False,Confirmed,0.0,US,1/22/2020,0.0,31.868263,-85.387129,Alabama
275,Bibb,| County: Bibb,False,Confirmed,0.0,US,1/22/2020,0.0,32.996421,-87.125115,Alabama
276,Blount,| County: Blount,False,Confirmed,0.0,US,1/22/2020,0.0,33.982109,-86.567906,Alabama

In [151]:
df1.shape

(592012, 11)

In [152]:
df.shape

(592012, 38)

In [153]:
df

,Admin2,Location Detail,If Province Empty Country,Select Metric,Country Label,LOG(SUM([Cases])),Select Metric Swapper,Province_State Label (not US),Province_State Label (US),Admin2 Label (US),...,Long,Number of Records,People_Hospitalized_Cumulative_Count,People_Total_Tested_Count,Population_Count,Prep Flow Runtime,Province State,Select Metric Header Short,iso2,iso3
272,Autauga,Autauga,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Autauga,...,-86.644082,1.0,NaN,NaN,55869.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
273,Baldwin,Baldwin,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Baldwin,...,-87.722071,1.0,NaN,NaN,223234.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
274,Barbour,Barbour,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Barbour,...,-85.387129,1.0,NaN,NaN,24686.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
275,Bibb,Bibb,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Bibb,...,-87.125115,1.0,NaN,NaN,22394.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
276,Blount,Blount,Alabama,0,Country: US,NaN,True,NaN,Alabama,| County: Blount,...,-86.567906,1.0,NaN,NaN,57826.0,4/25/2020 7:47,Alabama,Total Cases,US,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661543,Washakie,Washakie,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Washakie,...,-107.680187,1.0,NaN,NaN,7805.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661545,Niobrara,Niobrara,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Niobrara,...,-104.475890,1.0,NaN,NaN,2356.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661547,Park,Park,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Park,...,-109.585282,1.0,NaN,NaN,29194.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661548,Sweetwater,Sweetwater,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Sweetwater,...,-108.882788,1.0,NaN,NaN,42343.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA
661549,Teton,Teton,Wyoming,0,Country: US,NaN,True,NaN,Wyoming,| County: Teton,...,-110.589080,1.0,NaN,NaN,23464.0,4/25/2020 7:47,Wyoming,Total Cases,US,USA

In [154]:
df1 = df1.rename(columns={'Location Detail':'location','Admin2 Label (US)':'county','Cruise Ship?':'ship', 'Case Type':'case_type','Cases': 'cases','Country Region':'country', 'Date':'date', 'Difference':'difference','Lat':'latitude','Long':'longitude','Province State':'state'})
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,Autauga,| County: Autauga,False,Confirmed,0.0,US,1/22/2020,0.0,32.539527,-86.644082,Alabama
273,Baldwin,| County: Baldwin,False,Confirmed,0.0,US,1/22/2020,0.0,30.727750,-87.722071,Alabama
274,Barbour,| County: Barbour,False,Confirmed,0.0,US,1/22/2020,0.0,31.868263,-85.387129,Alabama
275,Bibb,| County: Bibb,False,Confirmed,0.0,US,1/22/2020,0.0,32.996421,-87.125115,Alabama
276,Blount,| County: Blount,False,Confirmed,0.0,US,1/22/2020,0.0,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
661543,Washakie,| County: Washakie,False,Deaths,0.0,US,4/23/2020,0.0,43.904516,-107.680187,Wyoming
661545,Niobrara,| County: Niobrara,False,Deaths,0.0,US,4/24/2020,0.0,43.056077,-104.475890,Wyoming
661547,Park,| County: Park,False,Deaths,0.0,US,4/24/2020,0.0,44.521575,-109.585282,Wyoming
661548,Sweetwater,| County: Sweetwater,False,Deaths,0.0,US,4/24/2020,0.0,41.659439,-108.882788,Wyoming
661549,Teton,| County: Teton,False,Deaths,0.0,US,4/24/2020,0.0,43.935225,-110.589080,Wyoming

In [155]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592012 entries, 272 to 661549
Data columns (total 11 columns):
location      592012 non-null object
county        592012 non-null object
ship          592012 non-null object
case_type     592012 non-null object
cases         592012 non-null float64
country       592012 non-null object
date          592012 non-null object
difference    592012 non-null float64
latitude      592012 non-null float64
longitude     592012 non-null float64
state         592012 non-null object
dtypes: float64(4), object(7)
memory usage: 54.2+ MB

In [156]:
df1['county'] = df1['county'].map(lambda x: str(x).lstrip('| County: '))

In [157]:
df1['county'].unique()

array(['Autauga', 'Baldwin', 'Barbour', ..., 'Brazoria', 'Alexandria',
       'Hawkins'], dtype=object)

In [158]:
#df1.to_csv('kbs_covid_.csv',header=True, index=False)

In [159]:
# Categorical boolean mask
categorical_feature_mask = df1.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = df1.columns[categorical_feature_mask].tolist()
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [160]:
print(categorical_feature_mask.to_list())
df1.columns

[True, True, True, True, False, True, True, False, False, False, True]

Index(['location', 'county', 'ship', 'case_type', 'cases', 'country', 'date',
       'difference', 'latitude', 'longitude', 'state'],
      dtype='object')

In [161]:
df_unfactorize = df1.copy()

In [162]:
df_unfactorize.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592012 entries, 272 to 661549
Data columns (total 11 columns):
location      592012 non-null object
county        592012 non-null object
ship          592012 non-null object
case_type     592012 non-null object
cases         592012 non-null float64
country       592012 non-null object
date          592012 non-null object
difference    592012 non-null float64
latitude      592012 non-null float64
longitude     592012 non-null float64
state         592012 non-null object
dtypes: float64(4), object(7)
memory usage: 54.2+ MB

In [163]:
cols = ['location', 'county','ship','case_type','country','state']
df1[cols]=df1[cols].apply(lambda x: pd.factorize(x)[0])

In [164]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592012 entries, 272 to 661549
Data columns (total 11 columns):
location      592012 non-null int64
county        592012 non-null int64
ship          592012 non-null int64
case_type     592012 non-null int64
cases         592012 non-null float64
country       592012 non-null int64
date          592012 non-null object
difference    592012 non-null float64
latitude      592012 non-null float64
longitude     592012 non-null float64
state         592012 non-null int64
dtypes: float64(4), int64(6), object(1)
memory usage: 54.2+ MB

In [165]:
df1['difference'].fillna(0, inplace=True)

df_unfactorize['difference'].fillna(0, inplace=True)

In [166]:
df1.date = pd.to_datetime(df1.date)

df_unfactorize.date = pd.to_datetime(df1.date)

df1.head()

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,0,0,0,0,0.0,0,2020-01-22,0.0,32.539527,-86.644082,0
273,1,1,0,0,0.0,0,2020-01-22,0.0,30.727750,-87.722071,0
274,2,2,0,0,0.0,0,2020-01-22,0.0,31.868263,-85.387129,0
275,3,3,0,0,0.0,0,2020-01-22,0.0,32.996421,-87.125115,0
276,4,4,0,0,0.0,0,2020-01-22,0.0,33.982109,-86.567906,0

In [167]:
df_unfactorize.head()

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,Autauga,Autauga,False,Confirmed,0.0,US,2020-01-22,0.0,32.539527,-86.644082,Alabama
273,Baldwin,Baldwin,False,Confirmed,0.0,US,2020-01-22,0.0,30.727750,-87.722071,Alabama
274,Barbour,Barbour,False,Confirmed,0.0,US,2020-01-22,0.0,31.868263,-85.387129,Alabama
275,Bibb,Bibb,False,Confirmed,0.0,US,2020-01-22,0.0,32.996421,-87.125115,Alabama
276,Blount,Blount,False,Confirmed,0.0,US,2020-01-22,0.0,33.982109,-86.567906,Alabama

In [168]:
df1.isnull().sum()

location      0
county        0
ship          0
case_type     0
cases         0
country       0
date          0
difference    0
latitude      0
longitude     0
state         0
dtype: int64

In [169]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592012 entries, 272 to 661549
Data columns (total 11 columns):
location      592012 non-null int64
county        592012 non-null int64
ship          592012 non-null int64
case_type     592012 non-null int64
cases         592012 non-null float64
country       592012 non-null int64
date          592012 non-null datetime64[ns]
difference    592012 non-null float64
latitude      592012 non-null float64
longitude     592012 non-null float64
state         592012 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(6)
memory usage: 54.2 MB

In [170]:
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,0,0,0,0,0.0,0,2020-01-22,0.0,32.539527,-86.644082,0
273,1,1,0,0,0.0,0,2020-01-22,0.0,30.727750,-87.722071,0
274,2,2,0,0,0.0,0,2020-01-22,0.0,31.868263,-85.387129,0
275,3,3,0,0,0.0,0,2020-01-22,0.0,32.996421,-87.125115,0
276,4,4,0,0,0.0,0,2020-01-22,0.0,33.982109,-86.567906,0
...,...,...,...,...,...,...,...,...,...,...,...
661543,1084,1083,0,1,0.0,0,2020-04-23,0.0,43.904516,-107.680187,49
661545,1379,1377,0,1,0.0,0,2020-04-24,0.0,43.056077,-104.475890,49
661547,266,266,0,1,0.0,0,2020-04-24,0.0,44.521575,-109.585282,49
661548,1380,1378,0,1,0.0,0,2020-04-24,0.0,41.659439,-108.882788,49
661549,1139,1138,0,1,0.0,0,2020-04-24,0.0,43.935225,-110.589080,49

In [171]:
df1.to_csv('kbs_covid_latest.csv',header=True, index=False)

In [172]:
df1

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,0,0,0,0,0.0,0,2020-01-22,0.0,32.539527,-86.644082,0
273,1,1,0,0,0.0,0,2020-01-22,0.0,30.727750,-87.722071,0
274,2,2,0,0,0.0,0,2020-01-22,0.0,31.868263,-85.387129,0
275,3,3,0,0,0.0,0,2020-01-22,0.0,32.996421,-87.125115,0
276,4,4,0,0,0.0,0,2020-01-22,0.0,33.982109,-86.567906,0
...,...,...,...,...,...,...,...,...,...,...,...
661543,1084,1083,0,1,0.0,0,2020-04-23,0.0,43.904516,-107.680187,49
661545,1379,1377,0,1,0.0,0,2020-04-24,0.0,43.056077,-104.475890,49
661547,266,266,0,1,0.0,0,2020-04-24,0.0,44.521575,-109.585282,49
661548,1380,1378,0,1,0.0,0,2020-04-24,0.0,41.659439,-108.882788,49
661549,1139,1138,0,1,0.0,0,2020-04-24,0.0,43.935225,-110.589080,49

<h1>AQI logic</h1>

In [181]:
df_aqi = pd.read_csv("countries.csv")
df_aqi

         State       County       Date  Ozone
0       Alaska    Anchorage  2020/1/24 -999.0
1       Alaska  Eagle River  2020/1/24 -999.0
2       Alaska       Bethel  2020/1/24 -999.0
3       Alaska    Fairbanks  2020/1/24 -999.0
4       Alaska   North Pole  2020/1/24 -999.0
...        ...          ...        ...    ...
78592  Wyoming    Wamsutter  2020/4/26   39.0
78593  Wyoming    Moxa Arch  2020/4/26   41.0
78594  Wyoming      Jackson  2020/4/26 -999.0
78595  Wyoming     Evanston  2020/4/26   43.0
78596  Wyoming    Newcastle  2020/4/26   45.0

[78597 rows x 4 columns]

In [192]:
df_aqi_update = df_aqi[['State','Date','Ozone']]
df_aqi_update = df_aqi_update.rename(columns={'State':'state','Date':'date','Ozone':'ozone'})

df_aqi_update['ozone'].mask(df_aqi_update['ozone'] == -999.0, 0, inplace=True)
df_aqi_update.ozone.unique()
df_aqi_update = df_aqi_update.fillna(0)

df_aqi_update.drop(df_aqi_update[df_aqi_update['date'] == 0 ].index, inplace = True)

df_aqi_update.date = pd.to_datetime(df_aqi_update.date)

# df_aqi_update = df_aqi_update.groupby(['state','date']).agg({'ozone': {'avg': np.mean}})

# df_aqi_update = df_aqi_update.groupby('date')['ozone'].mean().reset_index()
df_aqi_update = df_aqi_update.groupby(['state', 'date'])['ozone'].mean().reset_index()

df_aqi_update = df_aqi_update.replace(to_replace ='[_]', value = ' ', regex = True)

df_aqi_update

        state       date      ozone
0     Alabama 2020-01-24   8.000000
1     Alabama 2020-01-25  11.000000
2     Alabama 2020-01-26   8.250000
3     Alabama 2020-01-27   7.750000
4     Alabama 2020-01-28   0.000000
...       ...        ...        ...
4883  Wyoming 2020-04-22  34.037037
4884  Wyoming 2020-04-23  31.666667
4885  Wyoming 2020-04-24  34.259259
4886  Wyoming 2020-04-25  36.851852
4887  Wyoming 2020-04-26  32.888889

[4888 rows x 3 columns]

In [193]:
# df_combined = pd.concat(df_unfactorize,df_aqi_update)

In [194]:
df_combined = pd.merge(df_unfactorize, df_aqi_update, how='left', left_on=['state','date'], right_on=['state','date'])

In [195]:
df_combined

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state,ozone
0,Autauga,Autauga,False,Confirmed,0.0,US,2020-01-22,0.0,32.539527,-86.644082,Alabama,NaN
1,Baldwin,Baldwin,False,Confirmed,0.0,US,2020-01-22,0.0,30.727750,-87.722071,Alabama,NaN
2,Barbour,Barbour,False,Confirmed,0.0,US,2020-01-22,0.0,31.868263,-85.387129,Alabama,NaN
3,Bibb,Bibb,False,Confirmed,0.0,US,2020-01-22,0.0,32.996421,-87.125115,Alabama,NaN
4,Blount,Blount,False,Confirmed,0.0,US,2020-01-22,0.0,33.982109,-86.567906,Alabama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
592007,Washakie,Washakie,False,Deaths,0.0,US,2020-04-23,0.0,43.904516,-107.680187,Wyoming,31.666667
592008,Niobrara,Niobrara,False,Deaths,0.0,US,2020-04-24,0.0,43.056077,-104.475890,Wyoming,34.259259
592009,Park,Park,False,Deaths,0.0,US,2020-04-24,0.0,44.521575,-109.585282,Wyoming,34.259259
592010,Sweetwater,Sweetwater,False,Deaths,0.0,US,2020-04-24,0.0,41.659439,-108.882788,Wyoming,34.259259
592011,Teton,Teton,False,Deaths,0.0,US,2020-04-24,0.0,43.935225,-110.589080,Wyoming,34.259259

In [196]:
df_unfactorize

,location,county,ship,case_type,cases,country,date,difference,latitude,longitude,state
272,Autauga,Autauga,False,Confirmed,0.0,US,2020-01-22,0.0,32.539527,-86.644082,Alabama
273,Baldwin,Baldwin,False,Confirmed,0.0,US,2020-01-22,0.0,30.727750,-87.722071,Alabama
274,Barbour,Barbour,False,Confirmed,0.0,US,2020-01-22,0.0,31.868263,-85.387129,Alabama
275,Bibb,Bibb,False,Confirmed,0.0,US,2020-01-22,0.0,32.996421,-87.125115,Alabama
276,Blount,Blount,False,Confirmed,0.0,US,2020-01-22,0.0,33.982109,-86.567906,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
661543,Washakie,Washakie,False,Deaths,0.0,US,2020-04-23,0.0,43.904516,-107.680187,Wyoming
661545,Niobrara,Niobrara,False,Deaths,0.0,US,2020-04-24,0.0,43.056077,-104.475890,Wyoming
661547,Park,Park,False,Deaths,0.0,US,2020-04-24,0.0,44.521575,-109.585282,Wyoming
661548,Sweetwater,Sweetwater,False,Deaths,0.0,US,2020-04-24,0.0,41.659439,-108.882788,Wyoming
661549,Teton,Teton,False,Deaths,0.0,US,2020-04-24,0.0,43.935225,-110.589080,Wyoming

In [198]:
df_combined.to_csv('combined.csv',header=True, index=False)

In [199]:
df_aqi_update.to_csv('aqi_update.csv',header=True, index=False)